.button {
  font-size: 1.5rem;
  border: none;
  padding: 0.8em 1em;
  border-radius: 1em;
  background-color: var(--secondary-color);
  color: var(--light);
  transition: background-color 0.2s linear;
}

.mini {
  font-size: 0.875rem;
  background-color: var(--primary-color);
}

.button:hover {
  background-color: var(--secondary-color-hover);
}
