.container {
  background-color: var(--additional-color);
  min-width: 300px;
  max-width: 600px;
  resize: horizontal;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid #1c2b2c;
}

.addButton {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-top: 0.6em;
}

.logo span {
  color: var(--light);
}
