.input {
  border: none;
  font-size: 0.875rem;
  padding: 0.8em 1em;
  border-radius: 1em;
  margin: 1em 0.5em;
  background-color: var(--secondary-color);
  color: var(--light);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--light);
}
